{% extends 'base.html.twig' %}

{% block title %}Modification du profil – Edition{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1>Modification du profil – Edition</h1>
        <fieldset>
            <legend>
                <h2>Informations générales :</h2>
            </legend>
            <div class="form-group">
                {{ form_label(form.name, 'Raison sociale de l\'entreprise (obligatoire) :') }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.summary, 'Résumé de l\'entreprise (obligatoire) :') }}
                {{ form_widget(form.summary) }}                
            </div>
            <div class="form-group">
                {{ form_label(form.presentation, 'Présentation de l\'entreprise (obligatoire) :') }}
                {{ form_widget(form.presentation) }}                
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Coordonnées :
            </legend>
            <div class="form-group">
                {{ form_label(form.address, 'Adresse postale :') }}
                {{ form_widget(form.address) }}
                {{ form_label(form.postalcode, 'Code postal :') }}
                {{ form_widget(form.postalcode) }}
                {{ form_label(form.city, 'Ville :') }}
                {{ form_widget(form.city) }}
            </div>
            <div class="form-group">
                {{ form_label(form.phone, 'N° de téléphone :') }}
                {{ form_widget(form.phone) }}
                {{ form_label(form.mobile, 'N° de mobile :') }}
                {{ form_widget(form.mobile) }}
            </div>
            <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}