{% extends 'base_admin.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    <h1>Informations générales de l'entreprise</h1>
    <h2>Carte d'identité :</h2>
        <ul>
            <li>Raison sociale de l'entreprise : {{ company.name }}.</li>
            <li>Logo de l'entreprise : <img src="{{ company.logo }}" al!t="Logo de l'entreprise"></li>
            <li>Résumé :</li>
            {{ company.summary|raw|raw }}
            <li>Présentation de l'entreprise :</li>
            {{ company.presentation|raw|raw }}
        </ul>
    <h2>Coordonnées :</h2>
        <ul>
            <li>Adresse postale : {{ company.address }} {{ company.postalcode }} {{ company.city }}.</li>
            <li>Téléphone fixe : {{ company.phone }}.</li>
            <li>Mobile : {{ company.mobile }}.</li>
        </ul>
        <hr>
        <p>
            <a href="{{ path('admin_profil_edit') }}">Modifier</a>
        </p>
{% endblock %}